.filters{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.order{
  display: flex;
  flex-direction: column;
}

.paginated{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}